@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.main {
    height: 100vh;
    background-image: url('/assets/images/main-bg.png');
    background-size: cover;
    background-position: center;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
}
.topnav {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
}
.logo {
    height: 80px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
nav {
    display: flex;
    gap: 50px;
    padding: 34px 80px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}
nav a {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}
.contact {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-left: 50px;
}
.contact div {
    display: flex;
    flex-direction: column;
}
.contact span {
    color: #ffffff;
}
.contact span:nth-of-type(1) {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}
.contact span:nth-of-type(2) {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}
button {
  width: 169px;
  height: 57px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7px;
  border: none;
  outline: none;
  box-shadow: 0 20px 100px rgba(28, 54, 147, 0.7);
}
.carousel {
  padding: 40px 230px;
}
.carousel h2 {
  font-size: 48px;
  font-weight: 600;
  width: 550px;
  color: #ffffff;
  margin-bottom: 20px;
}
.carousel p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  width: 700px;
  text-align: justify;
  margin-bottom: 20px;
}